.media-logo {
    font-size: 2em;
}

nav input {
    max-width: 80px;
}

#post-media-url:focus, .is-loading #post-media-url {
    width: auto;
    opacity:1;
}

audio {
    /* fix height auto in bulma */
    min-height: 2.5em;
}

.media-card {
    margin-bottom: 1em;
}

.media-column-video {
    /* align vertically this column */
    align-self: center;
}

.media-meta {
    margin-top: -1.25em;
    margin-bottom: .75em;
    font-size: .8em;
}

input.hidden {
    display:none;
}

@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
 }

.is-blinking {
     animation: blink normal 4s infinite ease-in-out;
 }
