<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Youtube Dl Archiver</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/bulma.min.css">
    <script src="/script.js" defer></script>
    <script src="axios.min.js"></script>
    <script src="vue.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="app">
      <div id="post-media">
        <form v-on:submit.prevent="onSubmit" action="/medias" method="post">
          <div class="field has-addons">
            <div class="control">
              <input id="post-media-url" class="input" type="text" value="" name="url" placeholder="ajouter une vidéo"/>
            </div>
            <div class="control">
              <input type="submit" class="button is-info" v-bind:class="{'is-loading': isDownloading}" value="+" >
            </div>
          </div>
        </form>
      </div>
      
      <div id="search">
        <form v-on:submit.prevent="search" action="/search" method="get">
          <div class="field has-addons">
            <div class="control">
              <input id="search-text" class="input" type="text" value="" name="text" placeholder="rechercher"/>
            </div>
            <div class="control">
              <input v-bind:class="{hidden: isSearching}" class="button is-info" type="submit" value="&#x1f50d;">
              <button v-if="isSearching" class="button" v-on:click.prevent="lastAdded">❌</button>
            </div>
          </div>
        </form>
      </div>

      <div>
        <form action="/update" method="get">
          <input id="update" class="button" type="submit" value="Mise à jour"/>
        </form>
      </div>
      
      <section class="section is-medium">
        <div v-if="medias.length === 0" class="loading">Pas de résultat</div>
        <div id="list" class="container">
          <div v-for="media in medias" class="is-6">
            <div class="card">
              <div class="card-header">
                <h4 class="card-header-title is-2">{{media.title}}</h4>
              </div>
              <video v-if="media.type === 'video'" controls :poster="(media.thumbnail) ? media.thumbnail.url: undefined" preload="none" class="image">
                <source :src="media.file_url" :type="media.mime">
                  <track v-for="sub in media.subtitles"
                         :src="sub.url"
                         :label="sub.lang"
                         kind="subtitles" :srclang="sub.lang">
              </video>
              <audio v-if="media.type === 'audio'" controls preload="none">
                <source :src="media.file_url" :type="media.mime">
                  Your browser does not support the audio element.
              </audio> 
              <img v-if="media.type === 'image'"
                   :src="media.file_url">
              <a v-if="media.type === 'other'"
                 :href="media.file_url">media</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
